.Instruction_Message_1 {
    -fx-font-family: 'Times New Roman', cursive;
    -fx-font-style: italic;
    -fx-font-size: 55;
}


.Container_BtnFunctions_BtnInsert {
  }

.Container_BtnFunctions_BtnInsert:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.Instruction_Message_1{
    -fx-text-fill: white;
    -fx-background-color: midnightblue;
    -fx-fill: white;
    -fx-font-family: 'Arial';
    -fx-font-size: 11pt;
}

.Stat_Query{
 -fx-text-fill: white;
    -fx-background-color: midnightblue;
    -fx-fill: white;
    -fx-font-family: 'Arial';
    -fx-font-size: 11pt;
}

.Container_BtnFunctions_BtnInsert {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;


    -fx-background-radius: 30em;
    -fx-min-width: 120px;
    -fx-min-height: 50px;
    -fx-max-width: 53px;
    -fx-max-height: 53px;

    -fx-border-color: #8B0000;
    -fx-background-color: #FFE4C4;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.Container_BtnFunctions_BtnInsert:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.Container_BtnFunctions_BtnDelete {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;


    -fx-background-radius: 30em;
    -fx-min-width: 120px;
    -fx-min-height: 50px;
    -fx-max-width: 53px;
    -fx-max-height: 53px;

    -fx-border-color: #8B0000;
    -fx-background-color: #FFE4C4;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.Container_BtnFunctions_BtnDelete:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.Container_BtnFunctions_BtnUpdate {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;


    -fx-background-radius: 30em;
    -fx-min-width: 120px;
    -fx-min-height: 50px;
    -fx-max-width: 53px;
    -fx-max-height: 53px;

    -fx-border-color: #8B0000;
    -fx-background-color: #FFE4C4;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.Container_BtnFunctions_BtnUpdate:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.Container_BtnFunctions_BtnTableList {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;


    -fx-background-radius: 30em;
    -fx-min-width: 120px;
    -fx-min-height: 50px;
    -fx-max-width: 53px;
    -fx-max-height: 53px;

    -fx-border-color: #8B0000;
    -fx-background-color: #FFE4C4;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.Container_BtnFunctions_BtnTableList:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.Container_BtnFunctions_BtnTableFind {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;


    -fx-background-radius: 30em;
    -fx-min-width: 120px;
    -fx-min-height: 50px;
    -fx-max-width: 53px;
    -fx-max-height: 53px;

    -fx-border-color: #8B0000;
    -fx-background-color: #FFE4C4;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.Container_BtnFunctions_BtnTableFind:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.Container_BtnFunctions_BtnStatistic {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;


    -fx-background-radius: 30em;
    -fx-min-width: 120px;
    -fx-min-height: 50px;
    -fx-max-width: 53px;
    -fx-max-height: 53px;

    -fx-border-color: #8B0000;
    -fx-background-color: #FFE4C4;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.Container_BtnFunctions_BtnStatistic:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}